In [1]:
print("hello world")

hello world

In [2]:
print("ashutosh")

ashutosh

## number

In [4]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j

print(a1)

print(type(a1))

print(a2)

print(type(a2))

print(a3)

print(type(a3))

23
<class 'int'>
3.4
<class 'float'>
(4+5j)
<class 'complex'>

## id command

In [6]:
a1 = 23
print(id(a1))
a2 = 3
print(id(a2))

140711251164280
140711251163640

##  variable

In [8]:
a = 10
b = 20
sum = a + b
print(sum)   #it print value of sum

30

In [9]:
a = 10
b = 20
sum = a + b
print("sum")  #it print sum as a string

sum

## arithmetic operator

In [11]:
a = 10
b = 20
sum = a + b
print(sum)

30

In [12]:
a = 100
b = 20
sub = a - b
print(sub)

80

In [13]:
a = 10
b = 20
mup = a * b
print(mup)

200

In [14]:
a = 101
b = 20
div = a / b
print(div) #floating point divison

5.05

In [15]:
a = 101
b = 20
div = a // b
print(div) #integer divison

5

In [16]:
a = 103
b = 20
div = a % b
print(div) #modulo

3

## simple intrest

In [18]:
p = 500
r = 2
t = 12
pi = (p*r*t)//100
print(pi)

120

## fah to celcius converter

In [20]:
f = 100
c = (f-32)*5/9
print(c)

37.77777777777778

## find average marks

In [22]:
a = 3
b = 4
c = 6
sum = a+b+c
avg = sum/3
avg

4.333333333333333

# taking input

In [24]:
n = input()
n

 ashutosh

'ashutosh'

In [25]:
n = input()
m = input()
sum = (n + m)
print(sum) #it print the result in the form of string bcz input always give value in the form of string

 55
 88

5588

## add two number

In [27]:
n = int(input())
m = int(input())
sum = (n + m)
print(sum) # for find integer value use int

 80
 90

170

In [28]:
n = float(input())
m = float(input())
sum = (n + m)
print(sum)

 77
 99

176.0

## Boolean

In [55]:
a = True
b = False
c = True
print(type(b))
print(type(a))

<class 'bool'>
<class 'bool'>

## relational operator

In [32]:
a = 10
b = 20
print (a > b)
print (a < b)
print (a <= b)
print (a >= b)
print (a == b)
print (a != b)

False
True
True
False
False
True

## logical operator

In [60]:
a=10
b=20
c1 = a>10
c2 = b>10
r1 = c1 and c2
r2 = c1 or c2
r3 = not(c1)
print(r1)
print(r2)
print(r3)

False
True
True